<div class="options hide-on-print">
  <label>
    Currency
    <input type="text" ng-model="vm.invoice.currency" />
  </label>

  <label>
    Tax %
    <input type="text" ng-model="vm.invoice.tax" />
  </label>

  <label>
    Change logo
    <input type="file" onchange="angular.element(this).scope().vm.changeLogo(this)" />
  </label>

  <div class="options-actions">
     <button ng-click="vm.toggleShowLogo()">
      <span ng-if="vm.showLogo">Remove logo</span>
      <span ng-if="!vm.showLogo">Show logo</span>
    </button>
    &nbsp;&nbsp;&nbsp;
    <button ng-click="vm.clearLocalStorage()">Clear cache</button>
    &nbsp;&nbsp;&nbsp;
    <button onclick="window.print()">Print</button>
  </div>

</div>

<div class="logo" ng-show="vm.showLogo">
  <img ng-src="{{ vm.invoice.companyInfo.logo }}" id="logo" />
</div>

<div class="company-info">
  <input type="text" ng-model="vm.invoice.companyInfo.name" />
  <input type="text" ng-model="vm.invoice.companyInfo.website" />
  <input type="text" ng-model="vm.invoice.companyInfo.address1" />
  <input type="text" ng-model="vm.invoice.companyInfo.address2" />
  <input type="text" ng-model="vm.invoice.companyInfo.email" />
  <input type="text" ng-model="vm.invoice.companyInfo.companyNumber" />
  <input type="text" ng-model="vm.invoice.companyInfo.vatRegistrationNumber" />
</div>

<div class="invoice-header" ng-class="{true: '', false: 'header-no-logo'}[vm.showLogo]">
  <h1>Invoice <input type="text" ng-model="vm.invoice.number" /></h1>
</div>

<hr/>

<div class="client-info">
  <input type="text" ng-model="vm.invoice.clientInfo.name" />
  <input type="text" ng-model="vm.invoice.clientInfo.address1" />
  <input type="text" ng-model="vm.invoice.clientInfo.address2" />
</div>

<div class="dates">
  <div class="date-box">
    <p>Invoice date</p>
    <input type="text" ng-model="vm.invoice.date" />
  </div>
  <div class="date-box">
    <p>Due date</p>
    <input type="text" ng-model="vm.invoice.dueDate" />
  </div>
</div>

<table>
  <thead>
    <tr>
      <th class="desc-cell">Description</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in vm.invoice.items">
      <td class="desc-cell">
        <span class="hide-on-print delete-item" ng-click="vm.removeItem(item)">✖</span>
        <input type="text" ng-model="item.description" />
      </td>
      <td><input type="text" ng-model="item.quantity" /></td>
      <td><input type="text" ng-model="item.price" /></td>
      <td>{{ item.quantity * item.price | currency:vm.invoice.currency }}</td>
    </tr>

    <tr class="hide-on-print">
      <td colspan="4" ng-click="vm.addItem()"><button>Add</button></td>
    </tr>

    <tr class="totals">
      <td colspan="3">Subtotal</td>
      <td>{{ vm.calculateSubtotal() | currency:vm.invoice.currency }}</td>
    </tr>

    <tr class="totals" ng-show="vm.invoice.tax > 0">
      <td colspan="3">Tax ({{ vm.invoice.tax }}%)</td>
      <td>{{ vm.calculateTaxes() | currency:vm.invoice.currency }}</td>
    </tr>

    <tr class="totals">
      <td colspan="3">Total</td>
      <td class="grand-total">{{ vm.calculateSubtotal() + vm.calculateTaxes() | currency:vm.invoice.currency }}</td>
    </tr>
  </tbody>
</table>

<div class="payment-terms">
  <p>Payment terms</p>
  <textarea cols="30" rows="5" ng-model="vm.invoice.paymentTerms" spellcheck="false"></textarea>
</div>
