<div class="logo">
  <img src="http://placehold.it/200x200" alt=""/>
</div>

<div class="company-info">
  <input type="text" ng-model="vm.invoice.companyInfo.name" />
  <input type="text" ng-model="vm.invoice.companyInfo.website" />
  <input type="text" ng-model="vm.invoice.companyInfo.address1" />
  <input type="text" ng-model="vm.invoice.companyInfo.address2" />
  <input type="text" ng-model="vm.invoice.companyInfo.email" />
  <input type="text" ng-model="vm.invoice.companyInfo.companyNumber" />
  <input type="text" ng-model="vm.invoice.companyInfo.vatRegistrationNumber" />
</div>

<div class="invoice-header">
  <h1>Invoice <input type="text" ng-model="vm.invoice.number" /></h1>
</div>

<hr/>

<div class="client-info">
  <input type="text" ng-model="vm.invoice.clientInfo.name" />
  <input type="text" ng-model="vm.invoice.clientInfo.address1" />
  <input type="text" ng-model="vm.invoice.clientInfo.address2" />
</div>

<div class="dates">
  <div class="date-box">
    <p>Invoice date</p>
    <input type="text" ng-model="vm.invoice.date" />
  </div>
  <div class="date-box">
    <p>Due date</p>
    <input type="text" ng-model="vm.invoice.dueDate" />
  </div>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th class="desc-cell">Description</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in vm.invoice.items">
      <td class="delete-item" ng-click="vm.removeItem(item)">✖</td>
      <td class="desc-cell"><input type="text" ng-model="item.description" /></td>
      <td><input type="text" ng-model="item.quantity" /></td>
      <td><input type="text" ng-model="item.price" /></td>
      <td>{{ item.quantity * item.price | currency }}</td>
    </tr>
    <tr>
      <td colspan="5" ng-click="vm.addItem()"><button>Add</button></td>
    </tr>

    <tr class="totals">
      <td colspan="4">Subtotal</td>
      <td>{{ vm.calculateSubtotal() | currency }}</td>
    </tr>

    <tr class="totals">
      <td colspan="4">Tax ({{ vm.invoice.tax }}%)</td>
      <td>{{ vm.calculateTaxes() | currency }}</td>
    </tr>

    <tr class="totals">
      <td colspan="4">Total</td>
      <td class="grand-total">{{ vm.calculateSubtotal() + vm.calculateTaxes() | currency }}</td>
    </tr>
  </tbody>
</table>

<div class="payment-terms">
  <p>Payment terms</p>
  <textarea cols="30" rows="5" ng-model="vm.invoice.paymentTerms" spellcheck="false"></textarea>
</div>
