$border-colour: #ddd;
$orange: #de4522;

.container {
  font-size: .9em;

  .options {
    label {
      display: inline-block;
      margin-right: 30px;
    }
    input {
      min-width: 50px;
      border: 1px solid black;
    }

    .options-actions {
      margin-top: 20px;
    }

    border: 1px solid red;
    padding: 10px;
    margin-bottom: 20px;
  }

  input, textarea {
    box-shadow: none;
    border: none;
    margin-bottom: 0;

    &:hover {
      border: 1px solid black;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .logo, .company-info, .invoice-header, .client-info, .dates {
    display: inline-block;
  }

  .logo {
    vertical-align: top;
    margin-right: 20px;
    max-width: 210px;
  }

  .company-info {
    width: 380px;
  }

  .header-no-logo {
    float: right;
  }

  .invoice-header {
    width: 280px;
    text-align: right;

    input {
      text-align: right;
      padding: 0;
    }
  }

  hr {
    margin-bottom: 0;
    border-bottom: 1px solid $border-colour;
  }

  .client-info {
    margin-top: 30px;
    width: 450px;
    input {
      font-weight: bold;
    }
  }

  .dates {
    width: 440px;
    vertical-align: top;
    text-align: right;

    input {
      text-align: center;
    }

    .date-box {
      display: inline-block;
      width: 120px;
      text-align: center;
      padding: 5px;
      border: 1px solid $border-colour;
      border-top: 0;

      p {
        color: $orange;
        text-transform: uppercase;
      }
    }

    div:first-of-type {
      border-right: 0;
    }
  }

  table {
    table-layout: auto;
    margin-top: 50px;

    th {
      text-align: center;
      color: $orange;
      font-weight: normal;
      font-size: 1.1em;
    }

    tr {
      text-align: center;

      td input {
        text-align: center;
      }

      td:first-of-type input {
        width: 90%;
        display: inline-block;
      }
    }

    .delete-item {
      display: inline-block;
      margin-right: 20px;
      cursor: pointer;
      color: red;
    }

    .desc-cell {
      width: 60%;
      text-align: left;
      input {
        text-align: left;
      }
    }

    .totals {
      td:first-of-type {
        text-align: right;
        padding-right: 20px;
        color: $orange;
        font-size: 1.1em;
      }

      .grand-total {
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }

  .payment-terms {
    textarea {
      resize: none;
      font-size: .9em;
    }

    p {
      color: $orange;
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 1.1em;
    }
  }
}
